<!--ovoj view treba da bide povrzan samo so Category modelot, za da mozhe da ni dava  sugestii vo fajlot-->
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@model Category

@{
    ViewData["Title"] = "CreateCategory";
}


@{
    if (SignInManager.IsSignedIn(User))
    {
        <form method="post">
            <!--mb e clasa koja oznachuva margin bottom-->
            <div class="card bg-body mb-3">
                <div class="card-header text-center">CREATE CATEGORY</div>
                <div class="card-body">
                    <!--Asp-for go koristime za da go vrzime so propertito od modelot-->
                    <!-- taka podatocite vneseni tuka kje odat vo databazata za toa properti-->
                    <div class="mb-3">
                        <label asp-for="CategoryName"></label><br/>
                        <input asp-for="CategoryName" class="form-control" placeholder="Please enter name"/>
                    </div>

                    <div class="mb-3">
                        <select class="form-select border-secondary"  style="max-width:300px;"
        asp-for="CategoryType" asp-items="Html.GetEnumSelectList<CategoryType>()">
                            <option selected="selected" value="">Select Category</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <select class="form-select border-secondary" style="max-width:300px;"
        asp-for="CategoryStatus" asp-items="Html.GetEnumSelectList<Status>()">
                            <option selected="selected" value="">Select Status</option>
                        </select>
                    </div>

                    <div class="mb-3 text-end">
                        <a asp-controller="Admin" asp-action="Logged" class="btn btn-outline-dark">
                            <i class="bi bi-arrow-left-circle-fill"></i></a>
                        <button type="submit" class="btn btn-dark" style="width:150px;">Create</button>
                    </div>

                </div>


            </div>

        </form>
    }
    else
    { <center><p>Please login!</p></center>}

}